@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700');

/* --- Layout -------------------------- */

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Crimson Text', serif;
  margin: 0;
}

main {
  margin: 100px 10% 10% 400px;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-weight: 100;
  letter-spacing: 0.2px;
}

p { font-size: 18px; }

a, a:visited {
  text-decoration: none;
  color: lightgray;
}

a:hover {
  color: black;
}

/* --- Utilities -------------------------- */

.italic { font-style: italic; }
.center { display: block; text-align: center; }
