.citation {
  margin-bottom: 20px;
}

.citation .author {
  font-size: 13px;
}

.citation .title.book {
  font-style: italic;
}

.citation .printed {
  font-size: 12px;
  color: gray;
}

.citation .accessed {
  font-size: 12px;
  color: lightgray;
}
